{% extends 'all-insta/base.html' %} -->
{% block content %}
{{ block.super }}
<style>
    .image{
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      border-radius: 10px;
      width: 100% !important;
    }
    .image:hover{
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      opacity: 0.7;
      overflow: hidden;
      transition: .5s ease;
      transform: translateY(-7px);
    }
  
  </style>

<div class="container">
    {% if images %}
    {% for image in images %}

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p> {{ image.profile.username }}
          <p> {{image.profile.image.url}} </p> </p> <br> <p> {{ image.image_name }} </p> 
        <img width="60%" style="" src="{{image.image.url}}" class="img-responsive" alt="Image">
        <p> {{ image.profile.username }}
        <p> {{image.image_caption}} 

            <h5 class="display"><strong>Comments</strong>
              <a class="view-more"></a>
                        {% for comment in comments %}
                         {% if comment.image_id == image.id %}
                          <li class="comments"> {{ comment.user.username }} said:
                            <span class="comment">{{ comment.comment }}</span>
                          </li>
                           {% else %}
{% endif %}
                        {% endfor %}

                   <br>
                   <br>
                          <div class="comment-input-wrapper">
                              <form action="{% url 'comment' image_id=image.id %}" method="post">
                                  {% csrf_token %}
                                  <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Comment on this image....">
                              </form>
                          </div>
                          <div class="hidden-data {{ image.pk }}" style="display: none;">
                            <span class="image-pk">{{ image.pk }}</span>
                          </div>


          </h5>
      </div>
    </div>       
    {% endfor %}
  {% else %}
    no images
  {% endif %}

  {% endblock %}