{% extends 'all-insta/base.html' %} 
{%load bootstrap3%}
{% block content %}
<body>
<div class="container">
    <div class="row">
                <div class="col-md-6 ">
                            <button class="btn btn-info"><a href="{%url 'new-image'%}">Upload image</a></button>
                            <div id="#section01" class="container" style="margin-top:30px; margin-left: 18%;">
                                <div class="" style="margin-top:20px;">         
                                    {% if images %}
                                    {% for image in images %}
                                    <div class="row">
                                    <div class="col-md-6 card">
                                    <div class="card-header" style="height: 70px; padding:5px; border:1px solid rgb(243, 241, 241); background-color: rgb(247, 247, 247);">
                                            <div class="col-md-2">           
                                        <h4>{{ image.user.username }}</h4> 
                                        <p> {{image.profile.image.url}} </p> </p> <br> <p> {{ image.image_name }} </p> 
                                        </div>
                                        <div class="col-md-10">
                                        <strong>
                                        </strong>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                        <div class="card-body" style="margin:0em;">
                        <!-- modal button-->
                        <img type="button" class="img-responsive" data-toggle="modal" data-target="#myModal{{image.id}}"
                        class="img-responsive" src="{{image.image.url}}" alt="" width="550px;">
                        
                        <!-- modal -->
                            </div>
                    <div class="card-footer" style="padding-top:15px; height:100px;border:1px solid rgb(243, 241, 241); background-color: rgb(247, 247, 247);">
                            <div class="col-md-12">
                                <span class="likes">
                                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;"></i><span class="count"><br>0
                                    </span>Likes
                                </span>
                            </div>
                            <p>Posted {{ image.posted_time|timesince }} ago.</p>
                            <p> {{ image.user.username }}
                                <p> {{image.image_caption}} 
                                </p>
                                </p>

                            <h5 class="display"><strong>Comments</strong>
                              <a class="view-more"></a>
                                {% for comment in comments %}
                                {% if comment.image_id == image.id %}
                                  <li class="comments"> {{ comment.user.username }} 
                                    <span class="comment">{{ comment.comment }}</span>
                                      </li>
                                      {% else %}
                                      {% endif %}
                                      {% endfor %}
                                      <br>
                                      <br>      
                                  <div class="comment-input-wrapper">
                                      <form action="{% url 'comment' image_id=image.id %}" method="post">
                                        {% csrf_token %}
                                          <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Add a comment....">
                                          </form>
                                          </div>
                                          <div class="hidden-data {{ image.pk }}" style="display: none;">
                                          <span class="image-pk">{{ image.pk }}</span>
                                          </div>
                         </h5>            
                 {% endfor %}
                <!--  modal -->
{% for image in images %}
<div class="modal fade"  id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">{{image.name }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
     </div>
    <div class="modal-body">
      <img src="{{image.image.url}}" class="img-fluid" data-toggle="modal" data-target="#exampleModal{{image.id}}" style="width: 100%;">
      <p> {{image.description }}</p><label for="location"> Project BIo :{{image.bio }}</label>
      <p>UserName: {{ image.user.username }}
        <p>{{image.image_caption}} 
        </p>
        </p>
      <li class="comments"> {{ comment.user.username }} 
        <span class="comment">{{ comment.comment }}</span>


    </div>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

  </div>
</div>
</div> 
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
            

{% endfor %}
{% endif %}
{% endblock %}
</body>
<style>

  body{
    background-color: whitesmoke
  }
  .image{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 10px;
    width: 100% !important;
    size: 200px;
  }
  .image:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0.7;
    overflow: hidden;
    transition: .5s ease;
    transform: translateY(-7px);
  }

</style>
 

