{% extends 'all-insta/base.html' %} 
{%load bootstrap3%}
{% block content %}
{{ block.super }}
<div class="col-md-6 col-sm-6">
            <button class="btn btn-info"><a href="{%url 'new-image'%}">Upload image</a></button>
            <div id="#section01" class="container" style="margin-top:30px; margin-left: 18%;">
                <div class="" style="margin-top:20px;">         
                    {% if images %}
                    {% for image in images %}
                    <div class="row">
                    <div class="col-md-6 card">
                    <div class="card-header" style="height: 70px; padding:5px; border:1px solid rgb(243, 241, 241); background-color: rgb(247, 247, 247);">
                            <div class="col-md-2">           
                        <h4>{{ image.user.username }}</h4> 
                        <p> {{image.profile.image.url}} </p> </p> <br> <p> {{ image.image_name }} </p> 
                        </div>
                        <div class="col-md-10">
                        <strong>
                        </strong>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="card-body" style="margin:0em;">
                                <!-- modal button-->
                                <img type="button" class="img-responsive" data-toggle="modal" data-target="#myModal{{post.id}}"
                                    class="img-responsive" src="{{image.image.url}}" alt="" width="550px;">
                                    <!-- modal -->
                            </div>
                    <div class="card-footer" style="padding-top:15px; height:100px;border:1px solid rgb(243, 241, 241); background-color: rgb(247, 247, 247);">
                            <div class="col-md-12">
                                <span class="likes">
                                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;"></i><span class="count"><br>0
                                    </span>Likes
                                </span>
                            </div>
                            <p>Posted {{ image.posted_time|timesince }} ago.</p>
                            <p> {{ image.user.username }}
                                <p> {{image.image_caption}} 
                                </p>
                                </p>

                            <h5 class="display"><strong>Comments</strong>
                              <a class="view-more"></a>
                                {% for comment in comments %}
                                {% if comment.image_id == image.id %}
                                  <li class="comments"> {{ comment.user.username }} 
                                    <span class="comment">{{ comment.comment }}</span>
                                      </li>
                                      {% else %}
                                      {% endif %}
                                      {% endfor %}
                                      <br>
                                      <br>      
                                  <div class="comment-input-wrapper">
                                      <form action="{% url 'comment' image_id=image.id %}" method="post">
                                        {% csrf_token %}
                                          <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Add a comment....">
                                          </form>
                                          </div>
                                          <div class="hidden-data {{ image.pk }}" style="display: none;">
                                          <span class="image-pk">{{ image.pk }}</span>
                                          </div>
                         </h5>            
                 {% endfor %}
 
         
  {% else %}
    no images
</div>
  {% endif %}
  </div>
  {% endblock %}

